<app-template>

		<nav class="navbar navbar-expand fixed-top menu">
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto menu-margin-left">
					<div class="row">
						<div class="col-sm-12">
							<label class="font-menu">Techademy Amdocs</label>
						</div>
					</div>
				</ul>
			</div>
		</nav>

		<div class="container margin-top-100">
      <div class="row">
        <div class="col text-center">

          <button type="button" class="btn" routerLink="admin">Admin</button>
          <button type="button" class="btn" routerLink="user">User</button>
          <button type="button" class="btn" routerLink="contact">Contact</button>
          <button type="button" class="btn" routerLink="course">Course</button>
          <button type="button" class="btn" routerLink="feedback">Feedback</button>

        </div>
      </div>
    </div>
    
    
  </app-template>