<html lang="pt-br">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../assets/styles/bootsrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/css/index.css">
    <script src="../assets/jquery/jquery-3.6.0.min.js"></script>
    <script src="../assets/styles/bootsrap/js/bootstrap.min.js"></script>

</head>
	<body>
    <ng-content></ng-content>    
	</body>
</html>
