<div class="container margin-top-30">
	<div class="row">
	  <div class="col text-center">
		<button type="button" class="btn-primary btn-add" routerLink="add">Add Feeback</button>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
				</thead>
        <tbody *ngIf="!!listfeedbacks; else listEmpty">
          <tr *ngFor="let feedback of listfeedbacks">
            <td>{{ feedback.name }}</td>
            <td>{{ feedback.email }}</td>
            <td>
              <button type="button" class="btn-primary btn-update" [routerLink]="['update', feedback.f_id]">Update</button>
              <button type="button" class="btn-danger btn-delete" (click)="deleteUser(feedback.f_id)">Delete</button>
              <button type="button" class="btn-primary btn-view" [routerLink]="['view', feedback.f_id]">View</button>
			</td>
          </tr>
				</tbody>
			</table>
			<ng-template #listEmpty>
				<p>Users Not Found</p>
			  </ng-template>
		</div>
	</div>
</div>