<div class="container margin-top-30">
	<div class="row">
	  <div class="col text-center">
		<button type="button" class="btn-primary btn-add" routerLink="add">Add Contact</button>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Actions</th>
				</tr>
				</thead>
				<tbody *ngIf="!!listContact; else listEmpty">
				<tr *ngFor="let contact of listContact">
					<td>{{ contact.name }}</td>
					<td>{{ contact.email }}</td>
					<td>{{ contact.phoneNo }}</td>
					<td>
						<button type="button" class="btn-primary btn-update" [routerLink]="['update', contact.contact_id]">Update</button>
						<button type="button" class="btn-danger btn-delete" (click)="deleteContact(contact.contact_id)">Delete</button>
						<button type="button" class="btn-primary btn-view" [routerLink]="['view', contact.contact_id]">View</button>
					</td>
				</tr>
				</tbody>
			</table>
			<ng-template #listEmpty>
				<p>Contact Not Found</p>
			</ng-template>
		</div>
	</div>
</div>